In [1]:
# coding: utf-8

import pandas as pd
import numpy as np
from matplotlib import rcParams
import seaborn as sns
import matplotlib.pyplot as plt
from collections import defaultdict
import networkx as nx
from datetime import datetime
import gensim, logging
import matplotlib.patches as mpatches
import matplotlib
%matplotlib inline  

rcParams['font.family'] = 'NanumGothic'
rcParams.update({'font.size': 12})
matplotlib.style.use('ggplot')
sns.set_style("whitegrid")

## 무비 렌즈 데이터로 별점을 예측해 보자 
* User Based 별점 예측 
* Item(Movie) Based 별점 예측

Movie Lens 데이터 로드 
http://grouplens.org/datasets/movielens/

In [2]:
def movieLensDataLoad(type):
    ## user 영화 별점 data 
    ratings = pd.read_csv("/Users/goodvc/Documents/data-analytics/movie-recommendation/"+type+"/ratings.csv")

    ## movie meta(타이트,장르) data 
    movies = pd.read_csv("/Users/goodvc/Documents/data-analytics/movie-recommendation/"+type+"/movies.csv")

    ## user가 영화에 tag를 기입한 data
    tags = pd.read_csv("/Users/goodvc/Documents/data-analytics/movie-recommendation/"+type+"/tags.csv")
    # tags = pd.read_csv("/Users/goodvc/Documents/data-analytics/movie-recommendation/ml-20m/tags.csv")
    return ( ratings, movies, tags )

#ratings, movies, tags = movieLensDataLoad('ml-20m')
ratings, movies, tags = movieLensDataLoad('ml-latest-small')

In [3]:
#ratings = pd.read_csv("movieLens/ml-latest-small/ratings.csv")
ratings.head(10)

   userId  movieId  rating  timestamp
0       1        6       2  980730861
1       1       22       3  980731380
2       1       32       2  980731926
3       1       50       5  980732037
4       1      110       4  980730408
5       1      164       3  980731766
6       1      198       3  980731282
7       1      260       5  980730769
8       1      296       4  980731208
9       1      303       3  980732235

In [11]:
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [14]:
tags.head(10)

   userId  movieId               tag   timestamp
0      40        1         animation  1306926135
1      40        1           fantasy  1306926130
2      40        1             Pixar  1306926133
3      40       47              dark  1306930201
4      40       47        disturbing  1306930291
5      40       47          thriller  1306930308
6      40      101   off-beat comedy  1307009664
7      40      101      Wes Anderson  1307009667
8      40      208  post-apocalyptic  1306930611
9      40      208            sci-fi  1306930614

In [15]:
ratings.describe()

              userId        movieId         rating     timestamp
count  100023.000000  100023.000000  100023.000000  1.000230e+05
mean      341.760765    8613.123442       3.491362  1.091520e+09
std       193.849755   19736.006106       1.067942  1.633577e+08
min         1.000000       1.000000       0.500000  8.285049e+08
25%       180.000000     783.000000       3.000000  9.606706e+08
50%       343.000000    2081.000000       3.500000  1.097974e+09
75%       511.000000    4367.000000       4.000000  1.205150e+09
max       706.000000  129651.000000       5.000000  1.427755e+09

### User Based 별점 예측 

U(User) 
M(Movie)

1. U X M vector Matrix를 만든다. 
 key가 userid, value가 { 'movieId':rating } 
2. 나와 비슷한 유저를 찾는다.

In [4]:
## 1. U X M vector Matrix를 만든다. 
UM_matrix_ds = ratings.pivot(index='userId', columns='movieId', values='rating')

In [57]:
UM_matrix_ds.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,121271,122284,122495,122756,123109,124857,125916,126407,129454,129651
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4,NaN,4,NaN,4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
## 그럼 이제 최근접 이웃을 찾차 보자
## 
import math
from operator import itemgetter
from scipy.spatial import distance

def distance_cosine(a,b):
    return 1-distance.cosine(a,b)

def disance_corr(a,b):
    return 1-distance.correlation (a,b)

def distance_euclidean(a,b):
    return 1/(distance.euclidean(a,b)+1)

In [48]:
def nearest_neighbor_user( user, topN, simFunc ) :  
    u1 = UM_matrix_ds.loc[user].dropna()
    ratedIndex = u1.index
    nn = {}
    
    ## Brote Force Compute
    for uid, row in UM_matrix_ds.iterrows():
        interSectionU1 = []
        interSectionU2 = []
        if uid==user:
            continue
        for i in ratedIndex:
            if False==math.isnan(row[i]):
                interSectionU1.append(u1[i])
                interSectionU2.append(row[i])
        interSectionLen = len(interSectionU1)
        
       
    ## At least 3 intersection items
        if interSectionLen < 3 :
            continue
            
        ## similarity functon
        sim = simFunc(interSectionU1,interSectionU2)
        
        if  math.isnan(sim) == False:
            nn[uid] = sim
            
    ## top N returned         
    return sorted(nn.items(),key=itemgetter(1))[:-(topN+1):-1]

In [193]:
st=time.time()
(nearest_neighbor_user(8,50,distance_euclidean))
print(time.time()-st, 'sec')

1.0844941139221191 sec

In [84]:
## 클러스터링 된 결과와 그냥 했을때의 성능 비교
## 결과 비교

In [181]:
from sklearn.cluster import KMeans

class UserKmeansCluster:
    def __init__(self, matrix_ds):
        self.result = 0
        self.matrix_ds = matrix_ds
        self.user_size = matrix_ds.index.size
        
    def clustering(self):
        ## cluster k 결정 
        self.K = math.ceil(math.sqrt( UM_matrix_ds.index.size / 2))
        
        ## clustering by kmeans
        X = self.matrix_ds.fillna(0).values
        self.cluster = KMeans(n_clusters=self.K)
        self.cluster.fit(X)
        
        ## cluster result 
        self.cluster_members = defaultdict(list)
        self.user2cid = defaultdict(int)
        for user, cid in zip(self.matrix_ds.index, self.cluster.labels_):
            self.cluster_members[cid].append(user)
            self.user2cid[user] = cid
        
    def user2cluster(self, user):
        return self.user2cid.get(user,-1)

    def get_members(self, cid):
        return self.cluster_members.get(cid,[])

    def user2members(self, user):
        cid = self.user2cluster(user)
        return self.get_members(cid)

        
usercluster = UserKmeansCluster(UM_matrix_ds[:1000])
usercluster.clustering()

In [ ]:
## graph cut

In [188]:
def graph_cut( ds, threshold=3 ):
    grouped = ds.groupby('movieId')
    userlink = defaultdict(int)
    for name, g in grouped:
        users = g['userId'].values
        cnt = users.size
        if cnt<2:
            continue

        for n in range(0,cnt):
            for m in range(n+1,cnt):
                key = "{0}:{1}" if users[n]<users[m] else "{1}:{0}"
                key = key.format(users[n], users[m])
                userlink[key] = userlink[key] + 1
                
    print("user link수 : ",len(userlink))
    
    neighbors = defaultdict(list)
    for k, v in userlink.items():
        if (v) > threshold:
            nm = k.split(':')
            if len(nm) == 2:
                neighbors[nm[0]].append(nm[1])
                neighbors[nm[1]].append(nm[0])
    return neighbors

neighbors = graph_cut(ratings)
    #print(name, users)

user link수 :  218559

In [190]:
## 평균 neightbor
total = 0
cnt = 0
for k,v in neighbors.items():
    cnt = cnt + 1
    total = total + len(v)

In [18]:
def predictRating(userid, nn=100, simFunc=distance_cosine) :
   
    ## neighboorhood 
    neighbor = nearest_neighbor_user(userid,nn,simFunc)
    neighbor_id = [id for id,sim in neighbor]
    
    ## neighboorhood's movie : al least 4 ratings
    neighbor_movie = UM_matrix_ds.loc[neighbor_id]\
                    .dropna(1, how='all', thresh = 4 )
    neighbor_dic = (dict(neighbor))
    ret = [] # ['movieId', 'predictedRate']
    
    ## rating predict by my similarities 
    for movieId, row in neighbor_movie.iteritems():
        jsum, wsum = 0, 0
        for v in row.dropna().iteritems():
            sim = neighbor_dic.get(v[0],0)
            jsum += sim
            wsum += (v[1]*sim)
        ret.append([movieId, wsum/jsum])
       
    return ret

In [19]:
def ratingMovies(userid):
    return pd.merge(ratings[ratings.userId==userid], movies, on=['movieId'])

In [21]:
import time
gtime=time.time()
def elapse(string=""):
    global gtime
    now = time.time()
    if string!="":
        print ("{1} : {0} sec".format(now - gtime, string))
    gtime = now

In [197]:
userid=12
pd.options.display.max_rows=14
ratingMovies(userid).sort(['rating'],ascending=False)[['rating','title','genres']].head(100)

,rating,title,genres
2,5,Vertigo (1958),Drama|Mystery|Romance|Thriller
1,5,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller
13,4,"Importance of Being Earnest, The (2002)",Comedy|Drama|Romance
15,4,"Bourne Identity, The (2002)",Action|Mystery|Thriller
3,4,One Flew Over the Cuckoo's Nest (1975),Drama
24,4,"Last Seduction, The (1994)",Crime|Drama|Thriller
20,4,Austin Powers in Goldmember (2002),Comedy
...,...,...,...
11,2,Unfaithful (2002),Drama|Thriller
18,2,Lovely & Amazing (2001),Comedy|Drama|Romance
22,2,Blood Work (2002),Crime|Drama|Mystery|Thriller
5,2,Glory (1989),Drama|War
25,2,Miami Blues (1990),Comedy|Crime|Drama
14,1,Divine Secrets of the Ya-Ya Sisterhood (2002),Comedy|Drama
7,1,"Karate Kid, Part III, The (1989)",Action|Adventure|Children|Drama

In [198]:
userid=1
predicted_ratings = pd.DataFrame(predictRating(userid),columns=['movieId', 'predicted_rating'])\
    .sort(['predicted_rating'], ascending=False)
pd.merge( movies[movies.movieId > 0], predicted_ratings, on=['movieId'])\
    [['predicted_rating', 'title', 'genres']]\
    .sort(['predicted_rating'], ascending=False)

,predicted_rating,title,genres
36,4.800232,Rob Roy (1995),Action|Drama|Romance|War
154,4.750635,Rear Window (1954),Mystery|Thriller
192,4.697819,Groundhog Day (1993),Comedy|Fantasy|Romance
61,4.659233,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
22,4.658856,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
198,4.626185,Jaws (1975),Action|Horror
190,4.625130,"Bridge on the River Kwai, The (1957)",Adventure|Drama|War
...,...,...,...
232,2.500746,"General's Daughter, The (1999)",Crime|Drama|Mystery|Thriller
236,2.497320,"Haunting, The (1999)",Horror|Thriller
241,2.378188,Bowfinger (1999),Comedy
235,2.368497,Lake Placid (1999),Horror|Thriller
60,2.298259,Junior (1994),Comedy|Sci-Fi
279,2.251817,Star Wars: Episode II - Attack of the Clones (...,Action|Adventure|Sci-Fi|IMAX
97,2.249980,Coneheads (1993),Comedy|Sci-Fi

In [199]:
## 5번 유저의 별점 예측 
elapse()
userid=5

pd.merge(ratingMovies(userid),predictRating(userid),on=['movieId'], how='outer').sort(['predictedRate'], ascending =False)
#print (predictRating(userid,20,distance_euclidean))
elapse("end")

TypeError: list indices must be integers, not str

In [200]:
print (predictRating(userid,20,distance_euclidean))

[[1, 3.2247194110570208], [3, 2.9999999999999996], [6, 4.0970605549331562], [17, 3.5408838538294267], [19, 2.7187638431597523], [25, 3.9255822102693072], [29, 3.5113718877199043], [32, 3.9995634839760172], [34, 3.371165753571542], [36, 4.0], [39, 3.3674238341453266], [41, 3.7500000000000004], [43, 3.607311265295952], [47, 3.8514368894422524], [50, 4.4074787578950767], [95, 3.1843729383129085], [110, 4.192130921702562], [150, 3.8736751083781527], [151, 3.0000000000000004], [161, 4.1894494688778821], [162, 3.9772562245601919], [165, 3.1944028307437913], [168, 3.3979879511384099], [170, 2.517749202644787], [198, 3.267057831579856], [231, 2.6932485551908054], [253, 3.088560332950459], [260, 3.880976547208951], [265, 3.8133900323978978], [293, 3.7931536198802185], [296, 4.2330700904745777], [316, 3.2531680728000629], [318, 4.2555561499772638], [329, 2.3823015073603422], [344, 3.0258523677212783], [345, 3.7882677709539339], [349, 3.3846716882615424], [356, 4.1336654513595414], [357, 3.9207591880793857], [364, 3.4895874866182606], [367, 2.5400783793772708], [377, 3.2062284504830614], [380, 3.1762631185542416], [410, 3.1045909429479512], [442, 3.240786854963642], [457, 3.9759347574339992], [480, 3.671159329683348], [497, 3.7859104409086179], [500, 3.0587940698486173], [508, 3.4814296615348006], [509, 3.5341798490231264], [515, 4.0420033426210447], [520, 3.2803436477805499], [527, 4.2514403685216937], [538, 3.537208894865346], [539, 3.0454202585047061], [541, 3.6956940176274466], [551, 3.5728937238707985], [555, 4.1944028307437913], [586, 2.6996960508754353], [587, 2.445055535842946], [588, 3.5553219835743968], [589, 3.7426919610772735], [590, 3.537208894865346], [592, 3.5484986965287586], [593, 4.3329996601001053], [595, 3.7306997268618529], [597, 3.2640815466627844], [608, 4.4478706767713856], [648, 3.3797894568902418], [673, 3.4143652350299276], [708, 3.2620518345933598], [733, 3.5092719691403893], [736, 3.2076395179741528], [750, 4.2674829060022219], [778, 4.0911952344153972], [780, 3.2323886761663649], [788, 2.8058133422980189], [838, 4.2970223869876927], [849, 3.0], [858, 4.1487840109745564], [866, 4.0], [913, 3.8576990389074255], [914, 3.4981202042750184], [919, 3.6345353531790376], [924, 3.713823258649974], [1028, 3.4417008394081376], [1036, 4.3079675458505893], [1047, 3.9017637098340652], [1059, 3.9809746860682633], [1073, 3.0], [1089, 3.6895400861209451], [1097, 3.3392576626495196], [1101, 3.3079521933090321], [1136, 3.5311240858238944], [1183, 3.9546489217594041], [1196, 3.8943854329339183], [1197, 4.1866360255679682], [1198, 4.144323707897752], [1200, 4.3122992250042129], [1210, 3.6953735024918677], [1213, 4.2969721195162176], [1214, 3.7655062496233516], [1220, 3.4296758107001515], [1221, 4.5449491568979221], [1222, 3.7259403257193693], [1225, 3.5632700190966311], [1234, 4.3403572815199292], [1240, 3.2918897627528296], [1246, 3.8755244155531861], [1252, 3.241408912789665], [1259, 3.7763863127434432], [1265, 3.1707238173167136], [1266, 3.8886528097865236], [1270, 3.6920418568292486], [1291, 3.5844978087402311], [1293, 4.1069793877817045], [1307, 3.6955537796126019], [1356, 3.3954618844142019], [1357, 4.1792755376026314], [1358, 4.1609057698763285], [1372, 2.5414067822097786], [1374, 3.5140880484995978], [1387, 3.7516806799067766], [1393, 3.7086960539552742], [1527, 3.3593913223667107], [1573, 3.663413434205419], [1580, 2.8011644240264144], [1584, 3.4770251610908529], [1610, 3.8713190111728357], [1617, 3.8113123023483224], [1704, 4.0081065964101805], [1721, 3.5298450490684528], [1917, 3.3651213555982067], [1923, 2.9587072833751726], [1960, 3.2282645506142185], [1968, 3.7216963013026474], [2028, 3.8630922332951925], [2115, 3.2576168931054106], [2268, 3.7283707819840806], [2324, 3.8342256013773603], [2542, 3.0114909738659832], [2571, 4.0910049075404462], [2628, 3.8991635703708267], [2683, 2.0568865322589005], [2706, 3.3473192881988187], [2762, 3.7330700997724051], [2959, 3.985775360477037], [3114, 3.5939780578867797], [3147, 4.1994776370237323], [3275, 3.7617774019602965], [3578, 3.8270045729999151], [3793, 3.4902807580335646], [3996, 3.9883822037687096], [4226, 3.7259184112271138], [4306, 3.4799428973129389], [4878, 3.8539337988403322], [4886, 2.7255854899827394], [4963, 3.1400442404962718], [4993, 4.3010187533256854], [4995, 4.1141853909920396], [5218, 3.7066759676901171], [5349, 3.2753195158403905], [5418, 3.4982941415108724], [5952, 4.5189429235470815], [5989, 3.8322035724753585], [6333, 3.1248773104441634], [6365, 2.7517202980794502], [6377, 3.5763006469505343], [6539, 3.0221238727023763], [6874, 3.2141718161077595], [7143, 3.6516698200946709], [7153, 4.4618031889585268], [7438, 2.6533132572671931], [8665, 3.592923831498867], [8961, 3.4853537548271496], [32587, 3.5], [33794, 3.1666605223114526], [51662, 3.6021874280553128], [58559, 4.0184012269766844]]

## 성능평가 : RMSE 값으로 확인 
* 비 개인화의 RMSE 값 : 평균 별점을 예측
* 개인화된 RMSE값 비교 Item Based
* 데이터가 늘어남에 따라 어떻게 성능이 좋아지는?

In [217]:
eval_ratings = ratings

In [218]:
## evaluation

eval_ds = pd.merge(eval_ratings, 
                   ratings[['movieId','rating']].groupby(['movieId']).mean().reset_index(), 
                   on='movieId', how='left')

eval_ds = eval_ds.rename(columns= {'rating_x':'rating', 'rating_y':'mean_rating'})
eval_ds['predict_rating'] = 0

In [219]:
eval_ds['predict_rating'] = 0
## udpate to predict_rating 
distance_functions = [ ('euclidean',distance_euclidean), ('cosine', distance_cosine) ]

for name, func in distance_functions:
    eval_ds[name] = 0
    for userId in ratings['userId'].drop_duplicates().values[:10]:
        for x in predictRating(userId,20,func):
            eval_ds.loc[(eval_ds.userId==userId) & (eval_ds.movieId==x[0]),name]=x[1]

In [226]:
eval_ds[eval_ds.cosine > 0]

,userId,movieId,rating,timestamp,mean_rating,predict_rating,euclidean,cosine
8,1,296,4.0,980731208,4.137615,0,0.000000,4.249598
28,1,593,5.0,980731433,4.235905,0,5.000000,4.500049
33,1,780,5.0,980731988,3.469008,0,0.000000,4.000633
150,1,2571,4.0,980730794,4.207547,0,0.000000,4.624907
230,2,50,4.0,1091931562,4.368201,0,0.000000,4.499704
234,2,364,5.0,1091931487,3.742021,0,4.505555,4.167445
240,2,858,4.0,1091931453,4.334135,0,4.396250,4.083094
...,...,...,...,...,...,...,...,...
1062,10,260,2.5,1113487625,4.196078,0,0.000000,3.249533
1066,10,296,4.0,1113487658,4.137615,0,3.932866,4.399956
1068,10,318,3.5,1113487376,4.442073,0,4.085490,4.083730
1082,10,593,3.5,1113487640,4.235905,0,3.689181,4.142986
1198,10,2571,4.5,1113488110,4.207547,0,0.000000,4.875028
1205,10,2762,4.0,1113487751,3.924020,0,4.583768,4.583767
1208,10,2858,4.5,1113487669,4.058824,0,0.000000,4.500678

In [825]:
def RMSE(X, left_col, right_col):
    return(np.sqrt(np.mean((X[left_col] - X[right_col])**2)))

def MAE(X, left_col, right_col):
    return(np.mean(np.absolute(X[left_col] - X[right_col])) )

distance_functions = [ ('euclidean',distance_euclidean), ('cosine', distance_cosine), ('pearson', disance_corr) ]

print ("MAE of {0} is {1}".format('mean rating', MAE( eval_ds[eval_ds['mean_rating'] > 0], 'rating', 'mean_rating' )))
for (name,func) in distance_functions:
    print ("MAE of {0} is {1} ".format(name, MAE( eval_ds[eval_ds[name] > 0], 'rating', name )))

print ("RMSE of {0} is {1}".format('mean rating', RMSE( eval_ds[eval_ds['mean_rating'] > 0], 'rating', 'mean_rating' )))
for (name,func) in distance_functions:
    print ("RMSE of {0} is {1} ".format(name, RMSE( eval_ds[eval_ds[name] > 0], 'rating', name )))

MAE of mean rating is 0.7055168840093711
MAE of euclidean is 0.2629332215487124
MAE of cosine is 0.4650109666699926
MAE of pearson is 0.5312093797417275
RMSE of mean rating is 0.920840633867146
RMSE of euclidean is 0.35397089006040633
RMSE of cosine is 0.5992381164489905
RMSE of pearson is 0.7043043690726212

In [835]:
eval_ds.count()

userId            20000263
movieId           20000263
rating            20000263
timestamp         20000263
mean_rating       20000263
predict_rating    20000263
dtype: int64

In [644]:

0.689750383274
0.534087559871
0.869298083996
0.674865577278

      movieId  predictedRate                                         title
1           1       3.604548                              Toy Story (1995)
7           7       3.956180                                Sabrina (1995)
95         95       3.715045                           Broken Arrow (1996)
780       780       4.243071          Independence Day (a.k.a. ID4) (1996)
2683     2683       2.906671  Austin Powers: The Spy Who Shagged Me (1999)
2688     2688       3.736359                General's Daughter, The (1999)
2701     2701       1.750000                         Wild Wild West (1999)
2706     2706       2.425205                           American Pie (1999)
2713     2713       2.434502                            Lake Placid (1999)
2716     2716       4.250102    Ghostbusters (a.k.a. Ghost Busters) (1984)
2719     2719       2.478034                          Haunting, The (1999)
2723     2723       2.445416                            Mystery Men (1999)
2762     2762       3.840667                       Sixth Sense, The (1999)
2763     2763       2.462713               Thomas Crown Affair, The (1999)
2770     2770       3.241659                              Bowfinger (1999)
2805     2805       1.962458                       Mickey Blue Eyes (1999)
2826     2826       1.963525                      13th Warrior, The (1999)
2881     2881       3.148615                        Double Jeopardy (1999)
2987     2987       3.495634               Who Framed Roger Rabbit? (1988)

In [488]:
for id,row in nn_rated.iteritems():
    jsum=0
    wsum=0
    for v in row.dropna().items():
        jsum += similarities.loc[v[0]]['sim']
        wsum += (v[1]*similarities.loc[v[0]]['sim'])
    print ("{0} : {1}".format(id, wsum/jsum))

47 : 4.15571886580929
50 : 4.3706745093591035
110 : 4.258894070248855
296 : 4.187300965397262
318 : 4.669159331214638
344 : 3.714332189378028
356 : 4.416330561732522
480 : 3.1280491671238684
500 : 3.607917014282175
527 : 3.929389456979297
589 : 3.810787600196478
590 : 4.165356050627398
593 : 4.503391389613891
597 : 3.5210085244963127
608 : 3.694731812714421
1198 : 3.8263957177194405
1210 : 3.4039614117563164
1704 : 4.514166975374401
2028 : 4.156865802670894
2571 : 3.7959702197908363
2762 : 3.6806326896708073
2858 : 3.827340922074615
3949 : 2.9636188998406983
3996 : 2.70412827918192
4226 : 3.718070248316179
5445 : 3.913310521753981
5952 : 4.251638938695222
5989 : 3.9112102464163123
6016 : 4.2046905593468376
7153 : 4.119763377036935

movieId,47,50,110,296,318,344,356,480,500,527,...,2762,2858,3949,3996,4226,5445,5952,5989,6016,7153
userId,,,,,,,,,,,,,,,,,,,,,
498,NaN,NaN,4.0,4.0,5.0,NaN,4.0,2,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,5.0,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,5.0,4.0,5.0,5.0,5.0,5.0,5.0,4,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,4.5,NaN,4.5,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,2,NaN,3.5,NaN,4.5,NaN,4.5,4.5
24,NaN,5.0,5.0,NaN,5.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449,4.5,NaN,NaN,4.5,NaN,NaN,4.0,NaN,NaN,NaN,...,4.0,4.5,NaN,2.5,4.5,4.5,NaN,3.5,4.0,NaN
409,NaN,NaN,4.0,4.0,5.0,NaN,NaN,NaN,2.5,NaN,...,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,3.0,5.0,5.0,3.0,NaN,3.0,5.0,5,5.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,NaN,3.0,4.0,5.0,NaN,5.0,1,NaN,NaN,...,4.0,4.0,4,NaN,NaN,NaN,NaN,5.0,NaN,NaN
240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,3.5,4.0,NaN,NaN,NaN
242,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN,3.5,NaN,...,NaN,NaN,NaN,NaN,4.0,4.5,4.0,3.5,NaN,4.0
244,4.0,4.0,4.5,4.5,5.0,NaN,4.0,NaN,NaN,NaN,...,4.0,4.0,NaN,NaN,4.0,NaN,4.0,4.0,4.0,5.0
388,NaN,NaN,5.0,5.0,5.0,NaN,5.0,4,NaN,5.0,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
127,5.0,NaN,3.0,NaN,NaN,4.0,5.0,3,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,4.5,4.5,4.0,4.0,3.5,NaN,4.5,NaN,NaN,5.0,...,4.5,NaN,4,4.0,NaN,3.5,4.5,3.5,4.5,NaN
35,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.5,4.5,NaN,NaN,4.0
420,3.0,3.5,NaN,3.5,4.5,NaN,3.0,3,3.0,NaN,...,NaN,3.0,4,1.0,2.5,NaN,NaN,NaN,4.0,3.0